<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<p>This is our idea for a social media sharing site. We will soon have timelines available for your pictures on social media. </p>
